VITE_EMAILJS_PUBLIC_KEY=
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_USER_TEMPLATE_ID=
VITE_EMAILJS_OWNER_TEMPLATE_ID=
VITE_PRIMARY_CTA_URL=https://buy.stripe.com/6oUaEQ4rD1kP8Sr3bCa7C00
VITE_SECONDARY_CTA_URL=mailto:shelley@sellxsell.com?subject=Book%2030-Minute%20Pressure%20Test
